.customImage {
  width: auto;
  height: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bigBr {
  height: 50px;
}
.biggerBr {
  height: 150px;
}
.background {
  background-color: #1d1f20;
  color: white;
}

/*.form-control {
  width: 200px !important;
}*/